{% extends "ESapp/layout.html" %}
{% load static %}
{% block header %}
<header>
    <nav class="navbar">
        <a class="navbar-brand" href="{% url 'index' %}">Budget ES</a>
        <div class="navbar-nav">
            <button class="btn btn-sm btn-outline-primary" id="debt">View Debt</button>
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </div>
    </nav>
</header>

{% endblock %}


{% block body %}
    <div class="container">
        
        <div id="home-view">
            <h3>Home</h3>
        </div>
        <div id="debt-view">
            <h3>Debt</h3>
        </div>

    </div>  
    
{% endblock %}

{% block script %}
    <script src="{% static 'ESapp/index.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

{% endblock %}
