{% extends "ESapp/layout.html" %}
{% load static %}
{% block header %}
<header>
    <nav class="navbar">
        <a class="navbar-brand" href="{% url 'index' %}">Budget ES</a>
        <div class="navbar-nav">
            <button class="btn btn-sm btn-outline-primary" id="viewDebt">View Debt</button>
            <button class="btn btn-sm btn-outline-primary" id="viewImport">Import Data</button>
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </div>
    </nav>
</header>

{% endblock %}


{% block body %}
    <div class="container">
        
        <div id="home-view">
            <h1>Home</h1>
        </div>

        <div id="debt-view">
            <h1>Debt</h1>
            <div class="container">
                <button class="btn btn-sm btn-outline-primary" id="addDebt">Add Debt</button>
            </div>
        </div>

        <div id="debt-details-view">
            <!-- Your debt details will be displayed here -->
        </div>
        

        <div id="import-view">
            <h1>Import</h1>
            <div class="container">
                <button class="btn btn-sm btn-outline-primary" id="importStatement">Import Statement</button>
            </div>
        </div>

        <div id="adddebt-view">
            <h1>Add Debt</h1>
            <form id="adddebt-form">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amount" step="any" required>
                </div>
                <div class="mb-3">
                    <label for="interest_rate" class="form-label">Interest Rate (%)</label>
                    <input type="number" class="form-control" id="interest_rate" step="any" required>
                </div>
                <div class="mb-3">
                    <label for="min_payment" class="form-label">Minimum Payment (%)</label>
                    <input type="number" class="form-control" id="min_payment" step="any" required>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>

    </div>  
    
{% endblock %}

{% block script %}
    <script src="{% static 'ESapp/index.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>


{% endblock %}
